# Prerequisites
*.d

# General stuff
/bin/*
!/bin/data/
[Bb]uild/
[Oo]bj/
[Dd]ebug*/
*[Dd]ebug/
[Rr]elease*/
*[Rr]elease/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.ilk
*.pdb
*.sln
*.vcxproj
*.filters
*.user
*.rc
*.make

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator stuff
*.qbs
*.qbs.user
